MYSQL_ROOT_PASSWORD=WbFJmhq.ibJG6eHkoq.m
MYSQL_DATABASE=omeka_db
MYSQL_USER=omeka_usr
MYSQL_PASSWORD=BnY7m3NmjRD4NnDyf_2c
EMAIL_HOST=mail.domain.net
EMAIL_PORT=465
EMAIL_USER=no-reply@domain.net
EMAIL_PASSWORD=XYZ
EMAIL_CONNECTION_TYPE=ssl
CLOUDFLARE_EMAIL=name@domain.net
CLOUDFLARE_API_KEY=XYZ